name: validate pull request

on:
  pull_request

jobs:

  run_tests:
    name: "Run Tests"
    runs-on: ubuntu-latest
    steps:
      - run: echo "Running build and test for ${{ github.ref }} branch"
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v2
        with:
          node-version: "16"

      - name: Installing dependencies
        run: make install

      - name: Running lint
        run: make lint

      - name: Running test
        run: make test